!!!
%html
  %head
    %title= title
    = csrf_meta_tag
    = render 'layouts/stylesheets'
  %body
    .container
      = render 'devise/menu/registration_items'
      = render 'devise/menu/login_items'
      %section.round
        %p{:style => "color: green"}= notice
        %p{:style => "color: red"}= alert
        = yield
//      = render 'layouts/footer'

