<h1>Listing members</h1>
  <div class="index-list">
  <table>
    <tr>
      <th>Login</th>
      <th>Name</th>
      <th>Email</th>
      <th>Sign in count</th>
      <th>Roles</th>
      <th>Actions</th>
    </tr>

  <% @members.each do |member| %>
    <tr>
      <td><%= member.login %></td>
      <td><%= member.name %></td>
      <td><%= member.email %></td>
      <td><%= member.sign_in_count %></td>
      <td><%= member.roles %></td>
      <td><%= link_to 'Show', member %>
      <%= link_to 'Edit', edit_member_path(member) %>
      <%= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
</div>
<br />

<%= link_to 'Invite New Member', new_user_invitation_path %>
